#banner {
    background-color: rgb(102, 144, 233);
    background-image: url(../img/pattern.png);
    height: 100px;
    background-size: 30%;
    background-repeat: repeat;
}

#logo {
    height: 40px;
    margin-right: 0%;
    margin-bottom: 0%;
}

.font {
    font-size: 12px;
}

.gray {
    color: grey;
}
.blue {
    color: rgb(35, 130, 219);
}

.evidenziato {
    background-color: yellow;

}

#riga1 {
    background-color: rgb(14, 85, 238);
    font-size: 15px;
    color: white;
    background-size: ;
}

.lightblue {
    background-color: rgb(97, 211, 219);
}